<div ng-repeat="task in tasks track by task.id" class="panel panel-primary">
  <div class="panel-heading" ng-hide="task.editing" ng-click="toggleEdit(task)">
    <h1>{{task.title}}</h1>
  </div>
  <div class="panel-heading" ng-show="task.editing">
    Redigerar
    {{task.title}}
  </div>
  <div class="panel-body" ng-show="task.editing">
    <form>
      <div class="form-group">
        <label for="taskTitle">Uppgiftens namn</label>
        <input type="text" class="form-control" ng-model="task.title" id="taskTitle"/>
      </div>
      <div class="form-group">
        <label for="taskOften">Hur ofta?</label>
        <select class="form-control" id="taskOften" ng-model="task.howOften">
          <option ng-repeat="(key, value) in howOften" value="{{key}}">{{ value}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>När?</label>
        <button type="button" ng-repeat="when in whens track by when.id" ng-class="taskWhenButtonClass(when, task)" ng-click="toggleWhen(when, task)">
          {{ when.id }}
        </button>
      </div>
      <div class="form-group">
        <button type="button" ng-repeat="reward in rewards track by reward.id" ng-class="taskRewardButtonClass(reward, task)" ng-click="toggleReward(reward, task)">
          {{ reward.title }}
        </button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-raised" ng-click="saveTask(task)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-warning btn-raised" ng-click="toggleEdit(task)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary" ng-repeat="reward in rewards track by reward.id">
  <div class="panel-heading" ng-click="toggleEdit(reward)" ng-hide="reward.editing">
    <h2>{{reward.title}}</h2>
  </div>
  <div class="panel-heading" ng-show="reward.editing">
    Redigerar
    {{reward.title}}
  </div>
  <div class="panel-body" ng-show="reward.editing">
    <form>
      <div class="form-group">
        <label for="rewardTitle">Belöning:</label>
        <input type="text" class="form-control" ng-model="reward.title" id="rewardTitle"/>
      </div>
      <div class="form-group">
        <label for="rewardDesc">Beskrivning:</label>
        <textarea type="text" class="form-control" ng-model="reward.description" id="rewardDesc" rows="5"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-raised" ng-click="saveReward(reward)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-warning btn-raised" ng-click="toggleEdit(reward)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </form>
  </div>
</div>
<a class="btn btn-success btn-fab" ng-click="newTask()">
  <i class="material-icons">note_add</i>
</a>

<a class="btn btn-warning btn-fab" ng-click="newReward()">
  <i class="material-icons">note_add</i>
</a>

<!-- template for dialog and items... -->
<!-- to be used later, can be used for the entire list actually-->
<script type="text/ng-template" id="taskEdit.html">
  <div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected:
    <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
