<div ng-repeat="task in tasks track by task.id" ng-class="taskClass(task)" ng-click="changeTask(task)">
  <div class="panel-heading">
    <h1>{{task.title}}
      <span class="pull-right glyphicon glyphicon-thumbs-up" ng-show="task.done"></span>
    </h1>
  </div>
</div>
<div class="panel panel-primary" ng-repeat="reward in rewards track by reward.id">
  <div class="panel-heading" ng-show="reward.canCash()">
    <h2>{{reward.title}}</h2>
  </div>
</div>
