<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav nav-pills">
      <li>
        <a href="#/">
          <h2>Hem</h2>
        </a>
      </li>
      <li ng-repeat="child in children track by child.id" ui-sref-active="active">
        <a ui-sref="child({name:child.name})">
          <h2>{{child.name}}</h2>
        </a>
      </li>
      <li class="pull-right">
        <a ui-sref="admin"><span class="glyphicon glyphicon-cog"></span></a>
      </li>
    </ul>
  </div>
</nav>
